*{
    margin: 0;
    padding: 0;
}

.box1 img {
    width: 100%;
    object-fit: cover;
    background: no-repeat;
    height: 550px;
    
}*{
    padding: 0;
    margin: 0;
}

.navbar{
    background-color: blue;
    border-bottom: 2px solid white;
    height: 70px;
}

.navbar ul{
    display: flex;
}

.navbar ul li{
    margin-top: 5px;
}

.navbar ul li a{
    margin-left: 15px;
    text-decoration: none;
    color: white;
    font-weight: normal;
    font-size: 20px;
}

.navbar ul li a:hover{
    color: red;
}

.navbar ul li button{
    margin-left: 1070px;
}

.div1{
    /* background-color: green; */
    background-image: url(https://cdn4.vectorstock.com/i/1000x1000/25/28/banking-related-icons-image-vector-12222528.jpg);
    background-size: cover;
    padding: 50px;
}

.div2{
    padding: 10px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.355);
    margin-bottom: 80px;
    border: 2px solid black;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.div2 h1{
    font-weight: bold;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    color: white;
}

.div2 h4{
    color: white;
    font-size: 25px;
}

#div3{
    width: 45%;
    margin: 35px;
    border: 2px solid white;
    border-radius: 20px;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

#div3 h3{
    padding: 20px;
    color: white;
}

#div3 input{
    width: 560px;
    padding: 5px;
    margin: 30px;
}

#div3 button{
    margin-bottom: 30px;
    padding: 10px;
}


#r1 {
    width: 90%;
margin-left: 65px;
position: absolute;
top: 15%;
}

#r1 h1,h5 {
    color: white;
    background-color: rgba(0, 0, 0, 0.164);
}

#r1 #c1,#c2 {
    width: 600px;
    margin-left: 6px;
}

#r1 button{
    margin-left: 40%;
}